@using MyPortolioUdemy.Dal.Entities
@model List<Skill>

<div class="col-six tab-full right">
    <h3>Programlama Dilleri & Teknolojiler</h3>

    <ul class="skill-bars">
        <li>
           @foreach(var item in Model)
           {
            <div class="progress percent90"><span>@item.Values%</span></div>
            <strong>@item.SkillTitels</strong>
            }
        </li>
    </ul>
</div>